/*font*/
@font-face {
	font-family: "Telegraf";
	src: url('../font/Telegraf-UltraLight.otf');
}

@font-face {
	font-family: "Avenir-book";
	src: url('../font/AvenirLTStd-Book.otf');
}

@font-face {
	font-family: "Avenir-medium";
	src: url('../font/AvenirLTStd-Medium.otf');
}

@font-face {
	font-family: "Avenir-roman";
	src: url('../font/AvenirLTStd-Roman.otf');
}

@font-face {
	font-family: "Euclid-Cirular";
	src: url('../font/euclid_circular.otf');
}

@font-face {
	font-family: "Euclid-Cirular-Bold";
	src: url('../font/euclid_circular_bold.otf');
}

html *{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*font asset*/

/*header //////////////////////////////////////////////*/

.header-desktop{
	width: 100%;
	height: 10vh;
	padding: 0px 120px 0px 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 99;
	  position: fixed;
	  top: 0;
	  transition: top 0.3s;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(44px);
}

.mobile-header{
	display: none;
}


header a img{
	width: 100%;
}

header div a{
	text-decoration: none;
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 100%;
	color: #000000;
	margin-right: 50px;
}

header div a:last-child{
	margin-right: 0px;
	background: black;
	padding: 7px 20px 7px 20px;
	border-radius: 5px;
	color: white;
}

/*hero home //////////////////////////////////////////////*/

.hero-home{
	width: 100%;
	height: 75vh;
	background: #E1E8F2;
	border-radius: 0px 0px 60px 60px;
	padding: 50px 120px 0px 120px;
	margin-bottom: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-hero{
	width: 45%;
}

.text-hero p{	
	width: 100%;
	font-family: Telegraf;
	font-style: normal;
	font-weight: 200;
	font-size: 3.2vw;
	line-height: 140%;
	/* or 70px */
	color: #000000;
	margin-bottom: 60px;
}

h2, h2 a{
	font-family: Telegraf;
	font-style: normal;
	font-weight: normal;
	font-size: 0.844vw;
	line-height: 100%;
	/* identical to box height, or 12px */
	text-decoration: none;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #000000;
}

.hero-illu{
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-illu img{
	width: 80%;
}

/*recent projet /////////////////////////////////// recent*/

.recent-project{
	padding: 0px 120px 0px 120px;
	margin-bottom: 115px;
	width: 100%;
}

h3{
	font-family: Telegraf;
	font-style: normal;
	font-weight: 200;
	font-size: 2vw;
	line-height: 140%;
	color: #000000;
	margin-bottom: 40px;
}

.text-recent{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.line{
	width: 40px;
	height: 3px;
	background: black;
}

.text-recent p{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 150%;
	width: 45%;
	color: #000000;
}

/*portfolio //////////////////////// portfolio*/

.portfolio-section{
	width: 100%;
	padding: 0px 105px 0px 105px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 115px;
}

.img-portfolio{
	-o-object-fit: cover;
	   object-fit: cover;
	min-width: 100%;
	min-height: 100%;
	transition: 0.5s ease;
}


.box-fullsize{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 50vh;
	margin: 15px 0px 15px 0px;
	transition: 0.5s ease;
	transform: scale(1);
	
}

.box-fullsize:hover img{
	transition: 0.5s ease;
	transform: scale(1.05);
}

.box-fullsize:hover{
	transform: scale(0.98);
}

.box-medium{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 49%;
	height: 55vh;
	margin: 15px 0px 15px 0px;
	transition: 0.5s ease;
	transform: scale(1);
}

.box-medium:hover img{
	transition: 0.5s ease;
	transform: scale(1.05);
}

.box-medium:hover{
	transform: scale(0.98);
}

.box-large{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 69%;
	overflow: hidden;
	height: 55vh;
	margin: 15px 0px 15px 0px;
	transition: 0.5s ease;
	transform: scale(1);
}

.box-large:hover img{
	transition: 0.5s ease;
	transform: scale(1.05);
}

.box-large:hover{
	transform: scale(0.98);
}

.box-light{
	width: 29%;
	overflow: hidden;
	height: 55vh;
	margin: 15px 0px 15px 0px;
	transition: 0.5s ease;
	transform: scale(1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-light:hover img{
	transition: 0.5s ease;
	transform: scale(1.05);
}

.box-light:hover{
	transform: scale(0.98);
}
/*testimonial //////////////////////////////////////*/

.testimonial-section{
	padding: 100px 250px 100px 250px;
	width: 100%;
	background: #F3F2F1;
	display: flex;flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
}

.brand-trstimonial{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 65px;
}

.brand-trstimonial a img{
	width: 100%;
}

.text-tesimonial p{
	font-family: Telegraf;
	font-style: normal;
	font-weight: 200;
	font-size: 2.1vw;
	line-height: 150%;
	color: #000000;
	margin-bottom: 50px;
}

.cta-classic{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9vw;
	line-height: 130%;
	text-decoration-line: underline;
	color: #000000;
}

/*.cv-section /////////////////////////////cv-section*/

.cv-section{
	padding: 0px 250px 100px 250px;
	width: 100%;
}

.cv-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.cv-box{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.cv-box-all{
	display: flex;flex-direction: column;
}

.cv-box div:first-child{
	overflow: hidden;
	width: 84px;
	height: 100%;
}

.img-cv{
	-o-object-fit: cover;
	   object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

.title-cv{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 150%;
	color: #000000;
	margin-bottom: 4px;
}

.subtitle-cv{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: 350;
	font-size: 0.9vw;
	line-height: 150%;
	color: #444444;
	margin-bottom: 4px;
}

.date-cv{
	font-family: Avenir-book;
	font-style: normal;
	font-weight: 350;
	font-size: 0.8vw;
	line-height: 150%;
	color: #828282;

}

.cv-box div:last-child{
	margin-left: 15px;
}

/*contact-form /////////////////////////////contact form*/

.contact-form{
	padding: 100px 350px 100px 350px;
	width: 100%;
	background: #01E093;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.contact-form p{
	font-family: Telegraf;
	font-style: normal;
	font-weight: 200;
	font-size: 60px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.contact-form img{
	width: 20%;
	margin-bottom: 40px;
}


.contact-form div a{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2vw;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
	background: black;
	border-radius: 5px;
	padding: 10px 30px 10px 30px;
	color: white;
}

.contact-form div{
	width: 100%;
	text-align: center;
}

/*footer ///////////////////////// footer */

footer{
	padding: 100px 120px 100px 120px;
	width: 100%;
	background: #F6F6F6;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

footer img{
	width: 9%;
	margin-bottom: 50px;
}

.info-footer{
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.info-footer div{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

h1{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: 350;
	font-size: 1.1vw;
	line-height: 140%;
	color: #000000;
}

.info-footer div a{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: 350;
	font-size: 1.1vw;
	line-height: 140%;
	color: #000000;
	margin-bottom: 3px;
}

footer a:last-child{
	font-family: Avenir-roman;
	font-style: normal;
	font-weight: 350;
	font-size: 1.1vw;
	line-height: 140%;
	color: #000000;
}